
@import '../../globals';
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;  
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    display: grid;
    justify-content: center;
    align-items: center;
}
.modalCard{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.1em;
    background-color: $menu-background-clr;
    border-radius: 10px;
    z-index: 2000;
    width: 350px;
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
    overflow: auto;

    input {
        width: 80px;
        margin: 1em .3em;
    }

    
    

    .innerContent{
        margin: 0;
        padding: 0 1em 1em 1em;
        justify-content: top;
        align-content: top;
        align-items: center;
        max-height: 80vh;
        overflow: auto;
        

    }
    .close{
        align-self: right;
        cursor: pointer;
        position: relative;
        margin-top: .6em;
        left: 93%;
        
        
    }
    
}