$background-clr: #F4f4f4;
$menu-background-clr: #ECECF4;
$menu-accent-bcg: linear-gradient(96.89deg, #14759E -25.49%, #0EA8FF 100%);
$menu-accent-shd: 0px 4px 40px -4px #0EA8FF;
$default-border-radius: 10px;
$menu-accent-border-radius: 30px 0 0 30px;
$mobile-menu-shd: 0px 4px 40px -7px #0EA8FF;
$mobile-menu-border-radius: 5px;
$primary-clr: #067BBE;
$text-clr: #1C1C1C;
$icon-hvr-clr: #252525;
$primary-btn-hover:linear-gradient(83.81deg, #2D8FB9 -12.46%, #21AFFF 117.61%);
$secondary-btn-hover: linear-gradient(272.02deg, #3A3838 -27.32%, #595959 101.39%);
$secondary-bg-clr: #F0F0FF;
$danger-clr: #A31414;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); //Poppins import

html {
    background: $background-clr;

}


.app {
    margin: 1em;
    display: grid;
    place-items: center;
}
.switch {
    width: initial;
    width: 32px;
    height: 32px;
    accent-color: $primary-clr;

}



.check__label {
    position: relative;
    bottom: 8px;
    left: 5px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* {
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    h1 {
        font-weight: 700;
        font-size: 1.5rem;
    }

    h2 {
        font-weight: 600;
        font-size: 22px;
    }

    p {
        font-weight: 400;
        font-size: 1rem;

    }
}


@mixin base-btn {
    border-radius: $default-border-radius;
    padding: 12px 20px;
    margin-right: 1em;
    border-color: #3174AD;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 600;
    color: $background-clr;
    border: 1px solid;
    min-width: 5em;
}

@mixin primary-btn {
    background: linear-gradient(83.81deg, #14759E -12.46%, #0EA8FF 117.61%);
    box-shadow: 
    0px 4px 10px -10px
    rgba(14, 168, 255, 0.72),
    0px 4px 40px -10px 
    rgba(14, 168, 255, 0.72);
    @include base-btn();
}

@mixin secondary-btn {
    @include base-btn();
    background: linear-gradient(274.42deg, #1B1B1B -28.38%, #323232 36.39%);
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
}

@mixin inputs {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 1px;
    background-color: $secondary-bg-clr;
}

.danger-btn {
    @include base-btn();
    background-color: transparent;
    color: $danger-clr;
    border-color: $danger-clr;

}

.danger-btn:hover {
    background: linear-gradient(95deg, #9E1414 0%,#FF0E0E 100%);
    color: $secondary-bg-clr;
}

.primary-btn {
    @include primary-btn();
}

.primary-btn:hover {
    background: $primary-btn-hover;
    transition: ease-in;
}

.secondary-btn {
    @include secondary-btn();
}

.secondary-btn:hover {
    background: $secondary-btn-hover;
    transition: ease-in;
}

input,select,textarea {
    @include inputs();
}

.inline {
    display: flex;
    align-items: center;
    align-content: center;
    span {
        position: relative;
    }
}

.icon {
    color: $text-clr;
    padding: 0 .5em;
    cursor: pointer;
    animation: ease-in;
    border: none;
    background-color: none;

}

.icon:hover {
    color: $primary-clr;

}

.placeno{
    color: $primary-clr;
}



.placeno:hover {
    color: $primary-clr;
}

.infoWrap {
    border: none;
    border-radius: 10px;
    background-color: $secondary-bg-clr;
    box-shadow: 0px 4px 20px -11px rgba(15, 15, 0, 0.25);
    padding: 1em;
    margin:  1em 0;


}

.top {
    input {
        width: calc(100% - 105px);
        margin-right: .5em;

    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #D6D6E4;
    border: none;
    border-radius: $default-border-radius;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-clr;
    border-radius: $default-border-radius;
  }
  
