@import './globals';
.funkcija {
    margin: 0 .3em;
}

.bubble {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-width: 320px;
    max-width: 100%;
    overflow: auto;

    .icon {
        margin-left: 1em;
    }
}

table {
    th,td {
        outline: 1px solid gray;
        text-align: center;
        padding: .5em;
    }
}

.infoWrap {
    overflow: auto;
    min-width: 320px;
    max-width: 90vw;

}

.nonflex {
    justify-content: flex-start;
    gap: .6em;
}
.Wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

